* {}

.small-cont {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 8px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h3 {
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating {
    color: #ff523b;
}

.col-4:hover {
    transform: translateY(-5px);
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    max-width: 200px;
    margin-bottom: 50px;
    transition: transfrom 0.5s;
    cursor: pointer;
}

.col-4 img {
    width: 100%;
}

.more {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    padding-top: 20px;
}

.more::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 8px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}