                                * {
                                    font-family: sans-serif;
                                }
                                
                                .navbar {
                                    display: flex;
                                    padding: 15px;
                                    align-items: center;
                                }
                                
                                nav {
                                    flex: 1;
                                    text-align: right;
                                    font-size: 20px;
                                    font-weight: bold
                                }
                                
                                nav ul {
                                    display: inline-block;
                                    list-style-type: none;
                                    color: #555;
                                }
                                
                                nav ul li {
                                    display: inline-block;
                                    padding: 0 20px;
                                    transition: color 0.3s;
                                }
                                
                                .navbar ul li :hover {
                                    color: #010001;
                                    background-color: #ffd6d6;
                                    border: #ffd6d6;
                                    border-radius: 30px;
                                    margin-left: 10px;
                                }
                                
                                a {
                                    text-decoration: none;
                                    color: #555;
                                }
                                
                                p {
                                    color: #555;
                                }
                                
                                .container {
                                    max-width: 1300px;
                                    margin: auto;
                                }
                                
                                .row {
                                    display: flex;
                                    align-items: center;
                                    flex-wrap: wrap;
                                    justify-content: space-around;
                                }
                                
                                .col_2 {
                                    flex-basis: 50%;
                                    min-height: 300px;
                                }
                                
                                .col_2 img {
                                    max-width: 100%;
                                    padding: 50px 0;
                                }
                                
                                .gh {
                                    background: radial-gradient(#ff523b, #ffd6d6);
                                }
                                
                                .col_2 h1 {
                                    font-size: 40px;
                                    padding-bottom: 30px;
                                }
                                
                                .col_2 p {
                                    font-size: 15px;
                                }
                                
                                .gh .row {
                                    margin-top: 70px;
                                }
                                
                                button {
                                    padding: 10px 20px;
                                    border-color: #ff523b;
                                    border-radius: 30px;
                                    float: left;
                                    background-color: #ff523b;
                                    color: #fff;
                                    transition: all 0.3s;
                                }
                                
                                button:hover {
                                    background-color: #0000;
                                }
                                
                                .categoris {
                                    margin: 70px 0;
                                }
                                
                                .titl {
                                    text-align: center;
                                    margin: 0 auto 80px;
                                    position: relative;
                                    line-height: 60px;
                                    color: #555;
                                    font-weight: bold;
                                }
                                
                                .titl::after {
                                    content: '';
                                    background: #ff523b;
                                    width: 80px;
                                    height: 8px;
                                    border-radius: 5px;
                                    position: absolute;
                                    bottom: 0;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                                
                                .col-3 {
                                    flex-basis: 30%;
                                    min-width: 250px;
                                    margin-bottom: 30px;
                                }
                                
                                .col-3 img {
                                    width: 100%;
                                }
                                
                                .small-cont {
                                    max-width: 1080px;
                                    margin: auto;
                                    padding-left: 25px;
                                    padding-right: 25px;
                                }
                                
                                .col-4 {
                                    flex-basis: 25%;
                                    padding: 10px;
                                    max-width: 200px;
                                    margin-bottom: 50px;
                                    transition: transfrom 0.5s;
                                    cursor: pointer;
                                }
                                
                                .col-4 img {
                                    width: 100%;
                                }
                                
                                .title {
                                    text-align: center;
                                    margin: 0 auto 80px;
                                    position: relative;
                                    line-height: 60px;
                                    color: #555;
                                }
                                
                                .title::after {
                                    content: '';
                                    background: #ff523b;
                                    width: 80px;
                                    height: 8px;
                                    border-radius: 5px;
                                    position: absolute;
                                    bottom: 0;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                                
                                h3 {
                                    font-weight: normal;
                                }
                                
                                .col-4 p {
                                    font-size: 14px;
                                }
                                
                                .rating {
                                    color: #ff523b;
                                }
                                
                                .col-4:hover {
                                    transform: translateY(-5px);
                                }
                                
                                .col-5 {
                                    flex-basis: 50%;
                                    padding: 10px;
                                    max-width: 200px;
                                    margin-bottom: 50px;
                                }
                                
                                .col-5 img {
                                    width: 100%;
                                }
                                
                                .col-5 h3 {
                                    font-weight: bold;
                                }
                                
                                .col-5 p {
                                    font-size: 18px;
                                }
                                
                                .till {
                                    text-align: center;
                                    margin: 0 auto 80px;
                                    position: relative;
                                    line-height: 60px;
                                    color: #555;
                                    margin-top: 60px;
                                    margin-bottom: 0;
                                }
                                
                                .till::after {
                                    content: '';
                                    background: #ff523b;
                                    width: 60px;
                                    height: 8px;
                                    border-radius: 5px;
                                    position: absolute;
                                    bottom: 0;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                                
                                .offer {
                                    margin-top: 80px;
                                    padding: 30px 0;
                                    background: radial-gradient(#fff, #ffd6d6);
                                }
                                
                                .more {
                                    text-align: center;
                                    margin: 0 auto 80px;
                                    position: relative;
                                    line-height: 60px;
                                    color: #555;
                                    padding-top: 20px;
                                }
                                
                                .more::after {
                                    content: '';
                                    background: #ff523b;
                                    width: 80px;
                                    height: 8px;
                                    border-radius: 5px;
                                    position: absolute;
                                    bottom: 0;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                                
                                .brands {
                                    margin: 100px auto;
                                }
                                
                                .col-6 {
                                    width: 160px;
                                }
                                
                                .col-6 img {
                                    width: 100%;
                                    cursor: pointer;
                                }
                                
                                .col-6 p {
                                    font-size: 10px;
                                    font-weight: bold;
                                    text-align: center;
                                }
                                
                                .fea {
                                    text-align: center;
                                    margin: 0 auto 80px;
                                    position: relative;
                                    line-height: 60px;
                                    color: #555;
                                    padding-top: 20px;
                                }
                                
                                .fea::after {
                                    content: '';
                                    background: #ff523b;
                                    width: 80px;
                                    height: 8px;
                                    border-radius: 5px;
                                    position: absolute;
                                    bottom: 0;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                                
                                .footer {
                                    background: #010001;
                                    color: #8a8a8a;
                                    font-size: 14px;
                                    padding: 60px 0 20px;
                                }
                                
                                .footer p {
                                    color: #8a8a8a;
                                }
                                
                                .footer h4 h6 {
                                    color: #8a8a8a;
                                    margin-bottom: 20px;
                                }
                                
                                .footer-col-1,
                                .footer-col-2,
                                .footer-col-3 .footer-col-4 {
                                    min-width: 250px;
                                    margin-bottom: 20px;
                                }
                                
                                .footer-col-1 {
                                    flex-basis: 30%;
                                }
                                
                                .footer-col-2 {
                                    flex: 1;
                                    text-align: center;
                                }
                                
                                .footer-col-2 img {
                                    width: 180px;
                                    margin-bottom: 20px;
                                    align-items: center;
                                }
                                
                                .footer-col-3,
                                .footer-col-4 {
                                    flex-basiss: 12%;
                                    text-align: center;
                                }
                                
                                ul {
                                    list-style-type: none;
                                }
                                
                                .store {
                                    margin-top: 20px;
                                }
                                
                                h6 {
                                    font-size: 14px;
                                }
                                
                                .store img {
                                    width: 140px;
                                }
                                
                                .footer hr {
                                    border: none;
                                    background: #b5b5b5b5;
                                    height: 1px;
                                    margin: 20px 10px;
                                }
                                
                                .copy {
                                    text-align: center;
                                }
                                
                                .frst {
                                    position: relative;
                                    left: 15%;
                                }
                                
                                .snd {
                                    position: relative;
                                    left: 27%;
                                }
                                
                                @media only screen and (max-width:700px) {
                                    .col_2 p {
                                        font-size: 12px;
                                    }
                                    .col_2 h1 {
                                        font-size: 19px;
                                        padding-bottom: 30px;
                                    }
                                    .navbar {
                                        display: inline-block;
                                    }
                                    nav {
                                        align-items: right;
                                        font-size: 12px;
                                        font-weight: bold
                                    }
                                    nav ul {
                                        display: inline-block;
                                        list-style-type: none;
                                        color: #555;
                                    }
                                    nav ul li {
                                        display: inline-block;
                                        padding: 0 8px;
                                        transition: color 0.3s;
                                    }
                                    .navbar ul li :hover {
                                        color: #010001;
                                        background-color: #ffd6d6;
                                        border: #ffd6d6;
                                        border-radius: 30px;
                                        margin-left: 10px;
                                    }
                                    .logo img {
                                        width: 10%;
                                        height: 10%;
                                    }
                                }